body {
	background: #445;
	color: #FFF !important;
}

/* #main {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.66) 100%, transparent), url(https://images.unsplash.com/photo-1531535701800-03b2bec4fbfd?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
} */

  .wrap, .tab-row {
	margin: 0 50px 0 40px;
	width:100%;
  }
  
  .nav {
	position: fixed;
	z-index: 3;
	height: 60px;
	width: 100%;
	transition: 300ms ease;
  }
  
  .brand {
	float: left;
	line-height: 60px;
	color: white;
	font-weight: 500;
	padding-left: 1rem;
  }
  .brand span {
	font-size: .9em;
	font-weight: 700;
  }
  .brand img {
	vertical-align: middle;
	height: calc(60px - 1rem);
	margin-right: .5rem;
  }
  
  .top-menu {
	display: none;
	position: relative;
	float: right;
	transition: 200ms ease;
	font-weight: 300;
	height: 60px;
  }
  @media screen and (min-width: 640px) {
	.top-menu {
	  display: block;
	}
  }
  .top-menu li {
	display: block;
	float: left;
	height: 60px;
  }
  .top-menu li a {
	display: block;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	color: #fff;
	padding: 0 1em;
  }
  .top-menu li a:hover {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  }
  
  .mobile-open {
	display: block;
  }
  
  .hamburger-btn {
	float: right;
	display: block;
	border: none;
	background: transparent;
	color: #fff;
	height: calc(60px - 1rem);
	width: calc(60px - 1rem);
	margin: 0.5rem 0.5rem 0 0;
	padding: 0;
	position: relative;
  }
  @media screen and (min-width: 640px) {
	.hamburger-btn {
	  display: none;
	}
  }
  .hamburger-btn:hover {
	background: rgba(0, 0, 0, 0.1);
  }
  .hamburger-btn .hamburger-line {
	height: 2px;
	width: calc(60px - 2rem);
	background: #fff;
	display: block;
	position: absolute;
	left: calc(0.5rem - 1px);
	transition: top 150ms ease-out 150ms, bottom 150ms ease-out 150ms, opacity 150ms ease 75ms, -webkit-transform 150ms ease-in;
	transition: transform 150ms ease-in, top 150ms ease-out 150ms, bottom 150ms ease-out 150ms, opacity 150ms ease 75ms;
	transition: transform 150ms ease-in, top 150ms ease-out 150ms, bottom 150ms ease-out 150ms, opacity 150ms ease 75ms, -webkit-transform 150ms ease-in;
  }
  .hamburger-btn .hamburger-line:first-child {
	top: 0.75rem;
  }
  .hamburger-btn .hamburger-line:nth-child(2) {
	top: calc(50% - 1px);
  }
  .hamburger-btn .hamburger-line:last-child {
	bottom: 0.75rem;
  }
  
  .hamburger-cross .hamburger-line {
	transition: top 150ms ease-in, bottom 150ms ease-in, opacity 150ms ease 75ms, -webkit-transform 150ms ease-out 150ms;
	transition: transform 150ms ease-out 150ms, top 150ms ease-in, bottom 150ms ease-in, opacity 150ms ease 75ms;
	transition: transform 150ms ease-out 150ms, top 150ms ease-in, bottom 150ms ease-in, opacity 150ms ease 75ms, -webkit-transform 150ms ease-out 150ms;
  }
  .hamburger-cross .hamburger-line:first-child {
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
	top: calc(50% - 1px);
  }
  .hamburger-cross .hamburger-line:nth-child(2) {
	top: calc(50% - 1px);
	opacity: 0;
  }
  .hamburger-cross .hamburger-line:last-child {
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
	bottom: calc(50% - 1px);
  }
  
  .scroll {
	background: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  .scroll .top-menu li a, .scroll .brand {
	color: black;
  }
  .scroll .hamburger-line {
	background: #000;
  }
  
  .hero {
	position: relative;
	z-index: 1;
	height: 100vh;
	max-height: 1080px;
	background-image: url("assets/img/women-in-tech.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: #fff;
	display: table;
	width: 100%;
	text-align: center;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .hero:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom right, #28e, #e14);
	opacity: 0.75;
	z-index: -1;
  }
  .hero h1 {
	font-size: 4em;
	margin-bottom: 1rem;
  }
  .hero p {
	font-size: 2em;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
  }
  .hero .content {
	display: table-cell;
	vertical-align: middle;
  }
  
  h1, h2, p {
	margin: 1em 0;
  }
  
  h2 {
	font-size: 2rem;
	line-height: 0.5;
  }
  
  a {
	color: #e14;
	text-decoration: none;
  }
  a:hover {
	text-decoration: underline;
  }
  
  .tab-row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .tab-row {
	display: block;
  }
  
  .tab-row {
	display: table;
	height: 100%;
	vertical-align: middle;
  }
  
  .main {
	background: #f8f8f8;
  }
  .main, .main .tab-row {
	min-height: 200px;
  }
  .main, .tab-row:before, .main .tab-row:after {
	content: '';
	display: table;
  }
  .main section {
	padding: 0 1rem;
	min-height: 400px;
	height: 62vh;
  }
  
  .feature {
	/* background-image: ; */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	color: #fff;
	text-align: center;
  }
  .feature:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom right, #ee8822, #11eebb);
	opacity: 0.9;
	z-index: -1;
  }
  
  
  .col-4, .col-6, .col-12 {
	width: 100%;
  }
  @media screen and (min-width: 640px) {
	.col-4, .col-6, .col-12 {
	  float: left;
	}
  }
  .tab-row > .col-4, .tab-row > .col-6, .tab-row > .col-12 {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	float: none;
  }
  
  @media screen and (min-width: 640px) {
	.col-4 {
	  width: 33%;
	}
  }
  
  @media screen and (min-width: 640px) {
	.col-6 {
	  width: 50%;
	}
  }
  
  button.cta {
	padding: 0.75em 1.5em;
	background: white;
	color: black;
	border: none;
	cursor: pointer;
	transition: 200ms ease;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
  }
  button.cta:hover {
	color: #e14;
	box-shadow: 0 0.25em 10px rgba(0, 0, 0, 0.2);
  }
  

#about p {
	/* text-align: center; */
	color: #333;
}

section {
	position: relative;
	padding: 30px 0 50px;
	background: white;
	text-align: center;
}

section:last-of-type {
	min-height: 20vh;
}

section.focus .page-header {
	color: #907dda;
}

section.focus .page-header:after {
	visibility: visible;
	opacity: 1;
}

.section-header {
	position: relative;
	margin-bottom: 40px;
	font-size: 26px;
	font-weight: 400;
	color: #333;
	text-align: center;
	line-height: 60px;
	letter-spacing: 1px;
}

.section-header:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 70px;
	height: 2px;
	background: #907dda;
	-webkit-transform: translate(-50%, 0);
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate(-50%, 0);
	transform: translate3d(-50%, 0, 0);
}

.section-sub-header {
	position: relative;
	margin-bottom: 40px;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	line-height: 60px;
	letter-spacing: 1px;
}

.banner .banner-child {
	padding: 25px 15px;
	height: 500px;
}

.banner .bc-left {
	color: #e7e6f1;
	background: #907dda;
}

.banner .bc-right {
	color: #333;
	background: #F3F4F8;
}

.page-header {
	position: relative;
	margin-top: 0;
	margin-bottom: 50px;
	letter-spacing: 1px;
	color: #333;
	transition: color 0.2s ease-in;
}

box-el {
	display: flex;
	max-width: 1400px;
	margin: auto;
}

.box {
	height: 300px;
	background: orange;
	width: 33.3%;
	margin: 0em .5em;
	background-position: center;
	background-size: cover;
	position: relative;
}

.box:hover .the-content-box {
	transform: translateY(0%);
	background: rgba(0, 0, 0, 0.8);
}

.box:hover .the-content-box hr {
	width: 20%;
	transition-delay: 400ms;
}

.box:hover .the-content-box p {
	opacity: 1;
	transition: all 400ms ease;
	transform: translateY(0%);
	transition-delay: 600ms;
}

.box:hover .the-content-box a {
	opacity: 1;
	transform: translateX(0%);
	transition-delay: 900ms;
}

.box-inner {
	position: absolute;
	height: 80%;
	width: 90%;
	top: 10%;
	left: 5%;
	overflow: hidden;
}

.the-content-box {
	position: relative;
	height: 100%;
	width: 100%;
	background: rgba(74, 137, 205, 0.6);
	color: white;
	transform: translateY(80%);
	transition: all 600ms ease;
}

.the-content-box h1 {
	padding: 0.2em 0em 0em 0em;
	margin: 0;
	font-family: helvetica;
}

.the-content-box hr {
	background: #4A89CD;
	height: 3px;
	border: none;
	margin: 1em 0em 0em 0em;
	width: 0;
	transition: all 400ms ease;
}

.the-content-box p {
	letter-spacing: 1px;
	opacity: 0;
	font-family: arial !important;
	transition: all 900ms ease;
	transform: translateY(40%);
	font-weight: lighter;
}

.the-content-box a {
	display: inline-block;
	/* background: #4A89CD; */
	font-family: helvetica;
	padding: 0.5em 0.5em;
	color: white;
	text-decoration: none;
	font-weight: bolder;
	position: relative;
	transition: all 600ms ease;
	opacity: 0;
	transform: translateX(20%);
}

.the-content-box a:hover {
	background: #1B324B;
}

.content-box-inner {
	padding: 0em 1em;
}


h1 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 2rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading h1 {
	transform: scale(0.9);
	opacity: 0;
}

h1:before,
h1:after {
	height: 2px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h1:before {
	top: 0;
	left: 0;
}

h1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}

.footercolor{
	color: #F3F4F8 !important;
}

.hameid-loader-overlay {
	width: 100%;
	height: 100%;
	background: url('preloader.gif') center no-repeat #FFF;
	z-index: 99999;
	position: fixed;
}

/*PEN STYLES*/

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
	z-index: 0;
	width: 100%;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
	height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  margin-right: 10px;
}
.blog-card .details .twitter:before {
  margin-right: 10px;
}
.blog-card .details .tags ul:before {
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
	z-index: 1;
	color:#333;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.fa-arrow-right a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.fa-arrow-right a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 900px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}
