#loader{
  position: absolute;
  left : 40%;
  top : 28%;
  margin: 0 auto;
}
#preloader{
  position: absolute;
  left : 14%;
  top : 65%;
  margin: 0 auto;
}
#content{
  display : none;
}
#navbar{
  display: none;
}
